
/* General */ 
p {
  font-size: 1.2em;
}

.login {
  color: #ffeff3;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/img7.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  justify-content: center; 
  display: flex;
  padding: 90px;

}

.login .container-login {
  max-width: 1200px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  backdrop-filter: blur(10px);

}

/* Checkboxes */
.form__input {
  border: 2px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  padding: 12px 20px;
  border-radius: 8px;
  outline: none;
  background-color: #212529;
  margin-bottom: 1rem;
}

.form__input option {
  background-color: #212529;
  color: #fff;
  padding: 10px;
}

.form__input option:hover {
  background-color: var(--rose-300) !important;
}

.form__input:focus {
  border-color: var(--rose-300);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(255, 151, 187, 0.3);
}

.form__input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.form-check {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.form-check-input {
  margin-top: 0;
  margin-right: 0.5rem;
}

.form-check input[type="checkbox"] {
  cursor: pointer;
}

.form-check-input:checked {
  background-color: var(--rose-300) !important;
  border-color: var(--rose-300) !important;
}

.form-check-input:focus {
  border-color: var(--rose-300);
  box-shadow: 0 0 0 0.25rem rgba(255, 151, 187, 0.25);
}

.form-label {
  font-size: 1.2em;

}

.form-check-label {
  font-size: 1.2em;
 
}

/* Mapa */
.map-container {
  border-radius: 10px;
  overflow: hidden;
}

/* Separador*/
.vr {
  margin: 0 1rem;

}





 